.mainDiv {
    background-image: linear-gradient(to right, #00eeff, rgb(224, 218, 218));

    padding: 1em;
    margin: 2em;
}

.loginDiv {
    background-image: linear-gradient(to right, rgb(224, 218, 218), #00eeff);
    margin-top: 2em;
    padding: 3em;
}

.profileGrid:hover {
    transform: scale(1.05);
    transform: matrix3d();
}