.mainDiv {
    background-image: url("https://images.pexels.com/photos/1910225/pexels-photo-1910225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    padding: 1em;
    margin: 2em;
}

.loginDiv {
    background-image: url("https://images.pexels.com/photos/1910225/pexels-photo-1910225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    margin-top: 2em;
    padding: 3em;
}

.profileGrid:hover {
    transform: scale(1.05);
    transform: matrix3d();
}